.about-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: main;
    animation-duration: 4s;
}

.about-content a {
    text-decoration: none;
    color: #111;
}

.header-text, h2 {
    text-align: center;
}

.about-content p {
    text-align: justify;
}

.about-content h2 {
    color: #333;
}

.social h1 {
    text-align: center;
    margin: 20px;
  }

.social i {
    font-size: 30px;
    color: #333;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

@media (max-width: 768px) {
    .social-icons {
      flex-direction: column;
      align-items: center;
    }
    .social-icons i {
        margin: 2  0px;
    }
  }